[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "numpy>=2.4.1",
    "opencv-contrib-python>=4.11.0.86",
    "scipy>=1.15.0",
    "pandas"
]
